@model reporting_web.Models.Datepickermodel
@{
    ViewBag.Title = "Data Persentase Jumlah Kontribusi Peserta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/FrontEnd/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" , rel="stylesheet" />
@*<link href="https://cdn.datatables.net/plug-ins/1.11.2/integration/font-awesome/dataTables.fontAwesome.css" rel="stylesheet">*@
<link href="~/Content/jquery.dataTables-1.11.2.min.css" rel="stylesheet" />
<link href="~/Content/dataTables.bootstrap-1.11.2.min.css" rel="stylesheet" />
<link href="~/Content/dataTables.fontAwesome-1.11.2.css" rel="stylesheet" />
<link href="~/Content/buttons.dataTables-2.0.1.min.css" rel="stylesheet" />
@*<link href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" rel="stylesheet" />*@
@*<link href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.11.2/css/dataTables.bootstrap.min.css" rel="stylesheet" />*@

@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/AASReport/AasReport.js"></script>


@*<div class="jumbotron">Crystal Report in ASP.NET</div>*@
@*@using (Html.BeginForm())
    {*@
<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h2>Select Date</h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div>
                        <label>Start Date</label>
                    </div>
                    <div>
                        <input id="fromdate" type="text" name="FromDate" class="datepicker" />
                    </div>
                    @*@Html.EditorFor(model => model.DateData, new { htmlAttributes = new { @class = "datepicker" } })*@
                </div>
                <div class="form-group">
                    <div>
                        <label>End Date</label>
                    </div>
                    <div>
                        <input id="todate" type="text" name="ToDate" class="datepicker" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.AntiForgeryToken()
                        @*<div class="col-md-4">                                                        
                            <button class="btn btn-info" id="btnGetProduksi">Get With Clear Production Data</button>
                        </div>*@
                        @*<div class="col-md-4">
                            <button class="btn btn-info" id="btnGetAppendProduksi">Get With Append Production Data</button>
                        </div>*@
                        <div class="col-md-4">
                            <button class="btn btn-info" id="btnLoadTablePersenJmlKontribusi"> Load Table <br> Production Data</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <center>

                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*}*@
<div>



</div>


<div id="divDynamic"></div>

<div>
    <table id="tblpersenjmlkontribusi" class="display dataTable" style="width:100%">
        <thead>
            <tr>
                <th>No</th>
                <th>Kategori Kontribusi</th>
                <th>Jumlah</th>
                <th>Persentase</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>No</th>
                <th>Kategori Kontribusi</th>
                <th>Jumlah</th>
                <th>Persentase</th>
            </tr>
        </tfoot>
    </table>
</div>
<div id="total"></div>


@section scripts
{
    <script src="~/Scripts/dataTables.bootstrap4-1.11.2.min.js"></script>
    <script src="~/Scripts/jquery.dataTables-1.11.2.min.js"></script>
    <script src="~/Scripts/sum()-1.11.2.js"></script>
    <script src="~/Scripts/dataTables.buttons-2.0.1.min.js"></script>
    <script src="~/Scripts/jszip-3.1.3.min.js"></script>
    <script src="~/Scripts/pdfmake-0.1.53.min.js"></script>
    <script src="~/Scripts/vfs_fonts-0.1.53.js"></script>
    <script src="~/Scripts/buttons.html5-2.0.1.min.js"></script>
    <script src="~/Scripts/buttons.print-2.0.1.min.js"></script>

    <script>
    $(document).ready(function () {
       $(".datepicker").datepicker({
          dateFormat: "mm-dd-yy",
          changeMonth: true,
          changeYear: true,
          //yearRange: "-10:+10"
          //minDate: new Date(2020, 0, 1),
          //maxDate: new Date(2021, 0, 1),
          showOn: "both",
          buttonText: "<i class='fa fa-calendar'></i>"
       });

       $("#btnLoadTablePersenJmlKontribusi").click(function () {
        var $sdate = $('#fromdate').val();
        var $edate = $('#todate').val();
        var token = $('[name=__RequestVerificationToken]').val();

        $("#tblpersenjmlkontribusi").dataTable().fnDestroy();
        $('#tblpersenjmlkontribusi').DataTable({
            "ajax": {
              //"url": '/Produksi/GetDataDate?SDate='+$sdate+"&EDate="+$edate+"&TypeReport=PERSENJUMLAHKONTRIBUSI",
              "url": '/Produksi/GetDataDate',
              "data": {'__RequestVerificationToken': token, 'SDate': $sdate  ,'EDate': $edate ,'TypeReport': "PERSENJUMLAHKONTRIBUSI"},
              "processing":true,
              "serverSide":true,
              "type": "POST", // ajax type must be match to controllers action type
              "datatype":"json",
              error: function (xhr, textStatus, errorThrown) {
                alert(errorThrown);

              }
            },
            "drawCallback": function () {
                var sum = $('#tblpersenjmlkontribusi').DataTable().column(2).data().sum();
                $('#total').html('<b>Total Kontribusi: '+ number_format(sum,2,'.',','));
            },
            "columns": [
                 { "data": "NO_KATEGORI_KONTRIBUSI" },
                 { "data": "KATEGORI_KONTRIBUSI" },
                 { "data": "Jumlah", render: $.fn.dataTable.render.number(',', '.', 2, ''), className: "text-right"},
                 { "data": "Persentase", className: "text-right" },
            ],
            //"dom": 'Bfrtip',
            //"dom": "l<t>Bfrtip",
        "dom": "<'row'<'col-sm-6'l>>" +
                "<'row'<'col-sm-6'B><'col-sm-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
         //"dom": '<"top"fl>rBt<"bottom"ip><"clear">',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
         "columnDefs": [
            {
                "targets": [ 0 ],
                "visible": false,
                "searchable": false
            },
         ]
        });
       });


       function number_format(number, decimals, dec_point, thousands_sep) {
            // http://kevin.vanzonneveld.net
            // +   original by: Jonas Raoni Soares Silva (http://www.jsfromhell.com)
            // +   improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
            // +     bugfix by: Michael White (http://getsprink.com)
            // +     bugfix by: Benjamin Lupton
            // +     bugfix by: Allan Jensen (http://www.winternet.no)
            // +    revised by: Jonas Raoni Soares Silva (http://www.jsfromhell.com)
            // +     bugfix by: Howard Yeend
            // +    revised by: Luke Smith (http://lucassmith.name)
            // +     bugfix by: Diogo Resende
            // +     bugfix by: Rival
            // +      input by: Kheang Hok Chin (http://www.distantia.ca/)
            // +   improved by: davook
            // +   improved by: Brett Zamir (http://brett-zamir.me)
            // +      input by: Jay Klehr
            // +   improved by: Brett Zamir (http://brett-zamir.me)
            // +      input by: Amir Habibi (http://www.residence-mixte.com/)
            // +     bugfix by: Brett Zamir (http://brett-zamir.me)
            // +   improved by: Theriault
            // +   improved by: Drew Noakes
            // *     example 1: number_format(1234.56);
            // *     returns 1: '1,235'
            // *     example 2: number_format(1234.56, 2, ',', ' ');
            // *     returns 2: '1 234,56'
            // *     example 3: number_format(1234.5678, 2, '.', '');
            // *     returns 3: '1234.57'
            // *     example 4: number_format(67, 2, ',', '.');
            // *     returns 4: '67,00'
            // *     example 5: number_format(1000);
            // *     returns 5: '1,000'
            // *     example 6: number_format(67.311, 2);
            // *     returns 6: '67.31'
            // *     example 7: number_format(1000.55, 1);
            // *     returns 7: '1,000.6'
            // *     example 8: number_format(67000, 5, ',', '.');
            // *     returns 8: '67.000,00000'
            // *     example 9: number_format(0.9, 0);
            // *     returns 9: '1'
            // *    example 10: number_format('1.20', 2);
            // *    returns 10: '1.20'
            // *    example 11: number_format('1.20', 4);
            // *    returns 11: '1.2000'
            // *    example 12: number_format('1.2000', 3);
            // *    returns 12: '1.200'
            var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                toFixedFix = function (n, prec) {
                    // Fix for IE parseFloat(0.55).toFixed(0) = 0;
                    var k = Math.pow(10, prec);
                    return Math.round(n * k) / k;
                },
                s = (prec ? toFixedFix(n, prec) : Math.round(n)).toString().split('.');
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || '';
                s[1] += new Array(prec - s[1].length + 1).join('0');
            }
            return s.join(dec);
        }


    });
    </script>
}
