@{
    ViewBag.Title = "Access Denied";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Askrida Syariah<br />
    Bagian Teknologi Informasi<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:itsupport@askridasyariah.co.id">itsupport@askridasyariah.co.id</a><br />    
</address>